.gradient-background {
    background: linear-gradient(300deg, green, gold, red);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.responsive-video {
    width: 100%; /* Fill the width of the container */
    height: auto; /* Maintain aspect ratio */
}

.overlay-text {
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%); /* Centering the text */
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Shadow for better readability */
}

.lead {
    text-align: center;
}

.display-5 {
    text-align: center;
}

.pb-2 {
    text-align: center;
    font-size: 50px;
}

.gradient-background::before {
  content: "GHASTU"; /* Your watermark text */
  position: absolute;
  top: 15%; /* Adjust position */
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  font-size: 10vw; /* Responsive font size relative to viewport width */
  max-width: 100%; /* Prevent overflow */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Ensure no overflow */
  color: rgba(255, 255, 255, 0.1); /* Light color and opacity for watermark effect */
  z-index: 1; /* Behind other content */
  pointer-events: none; /* Prevent interaction */
}

.invite-text {
    text-align: center;
    font-size: 50px;
}
.carousel-item img {
    max-width: 100%;
    height: auto;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

/* Reset margin for the row */
.row {
  margin-left: 0;
  margin-right: 0;
}

/* Adjust padding if necessary */
.row .col-10, .row .col-sm-8, .row .col-lg-6 {
  padding-left: 0;
  padding-right: 0;
}

.us {
  background-color: snow;
}

.carousel {
  background-color: snow;
}

