{% extends "base.html" %}
{% block title %}Media{% endblock %}
{% block content %}
<!--the media manager section-->
    <section class="container pt-4" id="content">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <h1 class="caption">Media Manager</h1>
        <div class="col-10 col-sm-8 col-lg-6 mx-auto mb-5">
          <img class="d-block mx-auto img-fluid" src="/static/img/Selorme-again.jpg" alt="Image of the media manager">
        </div>
        <div class="col-lg-6">
          <p class="lead">"Hi there, I was forced to build this website. Held at gunpoint!</p>
        </div>
      </div>
    </section>
{% endblock %}