{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<!--the organizer section-->
    <section class="container pt-4" id="content">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <h1 class="caption">Organizer</h1>
        <div class="col-10 col-sm-8 col-lg-6 mx-auto">
          <img class="d-block mx-auto img-fluid" src="/static/img/nurudeen.jpg" alt="Nurudeen organizer">
        </div>
        <div class="col-lg-6">
          <p class="lead">"As the organizer of the Ghana Students Association in İstanbul, my goal is to foster a strong sense of community among Ghanaian students, create a supportive environment for academic and personal growth, and celebrate our rich culture. Together, we can achieve great things by supporting one another and staying connected as we navigate life in Türkiye"</p>
        </div>
      </div>
    </section>
{% endblock %}