<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>President</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<!--navbar section-->
    {% include 'navbar.html' %}

<!--the president section-->
    <section class="container pt-4">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <h1 class="caption">President</h1>
        <div class="col-10 col-sm-8 col-lg-6 mx-auto">
          <img class="d-block mx-auto img-fluid" src="#" alt="Image of the president">
        </div>
        <div class="col-lg-6">
          <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula interdum vulputate. Nulla mollis mattis tortor, venenatis eleifend orci ultrices et. Ut lobortis risus ex, quis eleifend nibh cursus in. Sed nec lacus eros. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum quis pretium risus. Donec id turpis et ligula tincidunt convallis vitae at dui. Nulla sed dapibus nisl, a accumsan ex. Curabitur aliquet augue quis nulla laoreet luctus. Curabitur nec pellentesque elit.</p>
        </div>
      </div>
    </section>

<!--footer section-->
    {% include 'footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>