{% extends "base.html" %}
{% block title %}Secretary{% endblock %}
{% block content %}
<!--the secretary section-->
    <section class="container pt-4" id="content">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <h1 class="caption">Secretary</h1>
        <div class="col-10 col-sm-8 col-lg-6 mx-auto">
          <img class="d-block mx-auto img-fluid" src="#" alt="Image of the secretary">
        </div>
        <div class="col-lg-6">
          <p class="lead">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula interdum vulputate. Nulla mollis mattis tortor, venenatis eleifend orci ultrices et. Ut lobortis risus ex, quis eleifend nibh cursus in. Sed nec lacus eros. Nulla facilisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum quis pretium risus. Donec id turpis et ligula tincidunt convallis vitae at dui. Nulla sed dapibus nisl, a accumsan ex. Curabitur aliquet augue quis nulla laoreet luctus. Curabitur nec pellentesque elit.</p>
        </div>
      </div>
    </section>
{% endblock %}