{% extends "base.html" %}
{% block title %}About Us{% endblock %}
{% block content %}
<!--the treasurer section-->
    <section class="container pt-4" id="content">
      <div class="row flex-lg-row-reverse align-items-center g-5">
        <h1 class="caption">Treasurer</h1>
        <div class="col-10 col-sm-8 col-lg-6 mx-auto mb-5">
          <img class="d-block mx-auto img-fluid" src="/static/img/Selorme.jpg" alt="Image of the treasurer">
        </div>
        <div class="col-lg-6">
          <p class="lead">"As you can clearly see, I have to do everything myself around here!</p>
        </div>
      </div>
    </section>
{% endblock %}